mixin form(product = {})
    form.formInput(action=`/admin/product/${product._id || ""}` method="POST" enctype="multipart/form-data")
            .form-group.col-md-6
                label(for='exampleInputEmail1') Category
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.category  name='category')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Product Name
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.productname name='productname')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Price
                input.form-control(type='text', aria-describedby='emailHelp' required value=product.price name='price')
            .form-group.col-md-6
                label(for='exampleInputEmail1') Photo
                input.form-control(type='file' id="picture" accept="image/gif,  image/png, image/jpeg" value=product.pictureID name='picture' )
                if product.picture
                    img(src=product.picture, alt=product.username)
            button.btn.btn-primary(type='submit') Save
    
    